{% extends 'base.html' %}

{% block header  %}


<div class = "container">
<form method="POST">
  {{form.hidden_tag()}}

  <div class="form-group">
    {{form.email.label(class="control-label")}}
    {{form.email(class="form-control")}}
  </div>

  <div class="form-group">
    {{form.password.label(class="control-label")}}
    {{form.password(class="form-control")}}

  </div>

  <div class="form-group">
    {{form.submit(class="btn btn-primary")}}

  </div>
  </div>
    
{% endblock %}

{% block footer %}
{% endblock  %}
